:root {
    /* Gray */
    --gray1: hsl(0, 0%, 99.0%);
    --gray2: hsl(0, 0%, 97.3%);
    --gray3: hsl(0, 0%, 95.1%);
    --gray4: hsl(0, 0%, 93.0%);
    --gray5: hsl(0, 0%, 90.9%);
    --gray6: hsl(0, 0%, 88.7%);
    --gray7: hsl(0, 0%, 85.8%);
    --gray8: hsl(0, 0%, 78.0%);
    --gray9: hsl(0, 0%, 56.1%);
    --gray10: hsl(0, 0%, 52.3%);
    --gray11: hsl(0, 0%, 43.5%);
    --gray12: hsl(0, 0%, 9.0%);

    /* Orange */
    --orange1: hsl(24, 70.0%, 99.0%);
    --orange2: hsl(24, 83.3%, 97.6%);
    --orange3: hsl(24, 100%, 95.3%);
    --orange4: hsl(25, 100%, 92.2%);
    --orange5: hsl(25, 100%, 88.2%);
    --orange6: hsl(25, 100%, 82.8%);
    --orange7: hsl(24, 100%, 75.3%);
    --orange8: hsl(24, 94.5%, 64.3%);
    --orange9: hsl(24, 94.0%, 50.0%);
    --orange10: hsl(24, 100%, 46.5%);
    --orange11: hsl(24, 100%, 37.0%);
    --orange12: hsl(15, 60.0%, 17.0%);

    /* Green */
    --grass1: hsl(116, 50.0%, 98.9%);
    --grass2: hsl(120, 60.0%, 97.1%);
    --grass3: hsl(120, 53.6%, 94.8%);
    --grass4: hsl(121, 47.5%, 91.4%);
    --grass5: hsl(122, 42.6%, 86.5%);
    --grass6: hsl(124, 39.0%, 79.7%);
    --grass7: hsl(126, 37.1%, 70.2%);
    --grass8: hsl(131, 38.1%, 56.3%);
    --grass9: hsl(131, 41.0%, 46.5%);
    --grass10: hsl(132, 43.1%, 42.2%);
    --grass11: hsl(133, 50.0%, 32.5%);
    --grass12: hsl(130, 30.0%, 14.9%);

    /* Tomato */
    --tomato1: hsl(10, 100%, 99.4%);
    --tomato2: hsl(8, 100%, 98.4%);
    --tomato3: hsl(8, 100%, 96.6%);
    --tomato4: hsl(8, 100%, 94.3%);
    --tomato5: hsl(8, 92.8%, 91.0%);
    --tomato6: hsl(9, 84.7%, 86.3%);
    --tomato7: hsl(10, 77.3%, 79.5%);
    --tomato8: hsl(10, 71.6%, 71.0%);
    --tomato9: hsl(10, 78.0%, 54.0%);
    --tomato10: hsl(10, 71.5%, 50.0%);
    --tomato11: hsl(10, 82.0%, 43.5%);
    --tomato12: hsl(10, 50.0%, 13.5%);

    /* Yellow */
    --yellow1: hsl(60, 54.0%, 98.5%);
    --yellow2: hsl(52, 100%, 95.5%);
    --yellow3: hsl(55, 100%, 90.9%);
    --yellow4: hsl(54, 100%, 86.6%);
    --yellow5: hsl(52, 97.9%, 82.0%);
    --yellow6: hsl(50, 89.4%, 76.1%);
    --yellow7: hsl(47, 80.4%, 68.0%);
    --yellow8: hsl(48, 100%, 46.1%);
    --yellow9: hsl(53, 92.0%, 50.0%);
    --yellow10: hsl(50, 100%, 48.5%);
    --yellow11: hsl(42, 100%, 29.0%);
    --yellow12: hsl(40, 55.0%, 13.5%);

}